advocate
aioredis
amqp
asgiref
async-timeout
attrs
autobahn
Automat
billiard
celery
celery-redbeat
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
cryptography
daphne
Deprecated
Django
django-appconf
django-celery-beat
django-celery-email
django-cors-headers
django-filter
django-mjml
django-timezone-field
djangorestframework
drf-jwt
drf-spectacular
Faker
hiredis
hyperlink
idna
incremental
inflection
itsdangerous
jsonschema
kombu
Markdown
msgpack
ndg-httpsclient
netifaces
packaging
Pillow
prompt-toolkit
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pyparsing
pyrsistent
python-crontab
python-dateutil
pytz
PyYAML
redis
regex
requests
service-identity
six
sqlparse
tenacity
text-unidecode
Twisted
txaio
typing_extensions
uritemplate
urllib3
uWSGI
vine
wcwidth
wrapt
zope.interface
mysqlclient
# psycopg2
djangorestframework-simplejwt
django-redis
django-celery-results
